<div id="sidebar">
  <div id="row1">
    <div id="sidebarHeader">
      <div class="avatarContainer"><img src="assets/images/noPic.png" /></div>
      <div class="actionsContainer">
        <div class="icon">
          <img width="18" src="assets/images/circle.svg" />
          <img width="18" src="assets/images/chat.svg" />
          <img width="18" src="assets/images/menu.svg" />
        </div>
      </div>
    </div>
    <div id="searchBox">
      <img width="19" src="assets/images/search.svg" alt="" />
      <input [(ngModel)]='searchText' type="text" placeholder="Search or start new chat" />
    </div>
  </div>

  <div id="sidebarContent">
    <!-- <div id="noConversations">
        All chats are archieved
      </div> -->
    <div
      class="conversation"
      *ngFor="let conversation of !searchText ? conversations : filteredConversations"
      (click)="conversationClicked.emit(conversation)"
    >
      <div class="picture">
        <img src="assets/images/noPic.png" />
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{ conversation.name }}</div>
          <div class="time">{{ conversation.time }}</div>
        </div>
        <div class="message">
          <img
            *ngIf="!conversation.latestMessageRead"
            src="assets/images/tick.svg"
          />
          <img
            *ngIf="conversation.latestMessageRead"
            src="assets/images/bluetick.svg"
          />
          {{ conversation.latestMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
